.footer{
    position: relative;
    display: flex;
    height: auto;
    width: auto;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.social{
    width: 10rem;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer>img{
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1.5rem;
}
.social img{
    width:1.5rem;
    height: 1.5rem;
}