.intro {
  max-width: 550px;
  font-family: 'Poppins';
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 0.8rem;
  line-height: 30px;
  color: #181818;
}
.techType {
  width: 166px;
  height: 48px;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  color: #181818;
}
.techTypeDisc {
  max-width: 200px;
  height: 60px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 30px;
  color: #181818;
}
